* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    color: black;
}

.grid {
    margin-top: 30px;
}

.homebutton {
    top: 50px;
    left: 50px;
    position: fixed;
}

.homeicon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.row {
    height: 35px;
}

img {
    position: relative;
    bottom: 28px;
    right: 28px;
    width: 70px;
    height: 90px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.dot {
    position: relative;
    left: 25%;
    background: red;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.dot:active {
    background: yellow;
}

.selected {
    background: green;
}

@media screen and (max-width: 980px) {
    .row {
        height: 20px;
    }

    .dot {
        left: 10%;
        height: 150px;
        width: 120px;
    }

    img {
        height: 120px;
        width: 90px;
    }
}