body {
    background-color: rgb(244, 255, 147);
    padding: 100px;
    padding-top: 50px;
}

img {
    width: 300px;
}

a {
    font-size: 20px;
}

br {
    height: 10px;
    padding: 0px;
    margin: 0px;
}

.jumbotron {
    background-color: lightblue;
}

#heading {
    font-weight: bolder !important;
}